<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3> Simple </h3>
      <p> On and Off, one click <p>
    </div>
    <div id="iphone">
      <img src="assets/iphone.png">
    </div>
    <div id="lightbulb">
      <img src="assets/nextBulb1.png">
    </div>
    <div id="lightbulb">
      <img src="assets/nextBulb2.png">
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3> Colorful </h3>
      <p> 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3> Smart </h3> 
      <p> It knows when you are away <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3> Efficient </h3>
      <p> 
        It saves you 3000000 times more energy, 
        <a href="https://fiber.google.com/about2/">一个图</a>
      <p>
    </div>
    <div class="compare-1"></div>
    <div class="compare-2"></div>
  </div>
</div>
