<div class="big_wrapper" id ="C5">

		<div class="split-half left">
			<div id="lightbulb-center"> <img src="assets/nextBulb1.png"> </div>
			<h5>nextBulb - 1st generation </h5>
	    <h5><%= Settings.ships1 %></h5>
	  	<a href="http://www.amazon.com/Bluetooth-Wireless-Control-Multicolor-Light/dp/B00GZQBQHE/ref=sr_1_1?ie=UTF8&qid=1407885918&sr=8-1&keywords=bluetooth+lightbulb" class="blue_button reserve center"><%= Settings.middle_buy_text %></a>
    </div>

		<div class="split-half right">
			<div id="lightbulb-center"> <img src="assets/nextBulb2.png"> </div>
			<h5>nextBulb - 2nd generation </h5>
	    <h5><%= Settings.ships2 %></h5>
	  	<a href="/preorder/checkout" class="blue_button reserve center"><%= Settings.middle_reserve_text %></a>
  	</div>

</div>
