
<div class="">
  <ul class="center-wrapper clearfix" id="other_points">

    <li id="section-1">
      <img src="assets/homekit-icon.png">
      <h4> Home Kit </h4>
      <p> Bananabulb works with Apple's HomeKit, so siri could recognize it.</p>
    </li>

    <li id="section-2">
      <img src="assets/music-icon.png">
      <h4> Music Sync </h4>
      <p> It syncs with your music, Next time you can listen to the lights </p>
    </li>

    <li id="section-3">
      <img src="assets/timer-icon.png">
      <h4> Timer </h4>
      <p> Set a timer, your lights will turn on as you wake, turn off before you sleep </p>
    </li>

    <li id="section-4">
      <img src="assets/alarm-icon.png">
      <h4> Alarm </h4>
      <p> Imagine waking up to your personalized Sun Light </p>
    </li>

  </ul>
</div>
