 @media screen and (max-width: 480px) {
	#header 
	{
	  img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	  }
}

@media screen and (min-width: 480px) {

}


@media screen and (min-width: 660px) {

}

