<div class="footer">
	<div class="social-icon">
		<a href="https://twitter.com/johnshencanada"><img src="assets/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
		<a href="https://www.facebook.com/johnjohnshen"><img src="assets/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
	</div>

	<div class="wrapper clearfix">
		<%= render 'preorder/copyright' %>
	</div>

</div>
<%= render 'preorder/google_analytics' %>
