<div id="header">
	<div class="wrapper clearfix">
		<div id = "logo"> <%= link_to image_tag("logo5.png", alt: "Bananabulb"), '' %></div>
		<a href="/"> <h1>nextHome</h1> </a>
  </div>
  <nav>
  </nav>
</div>